.footer {
  background-color: var(--color-gray-dark);
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logoContainer {
  margin-bottom: 10px;
}

.linksContainer {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: var(--color-white);
}

.copyrightContainer {
  font-size: 14px;
  color: var(--color-white);
}
