.footer {
  background-color: var(--color-gray-dark);
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logoContainer {
  margin-top: 1rem;
  margin-bottom: 10px;
}

.linksContainer {
  display: flex;
  gap: 15px;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-white);
}

.copyrightContainer {
  font-size: 12px;
  color: var(--color-white);
}


@media screen and (max-width: 768px) {
  .linksContainer {
    flex-direction: column;
  }
}