.container {
  padding: var(--body-padding);
}

.banner {
  background: var(--dark-blue-gradient);
  border-radius: 1rem;
  padding: 3rem;
  color: var(--color-white);
  height: 20rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.textWrapper {
 width: 80ch;
}

.textWrapper p {
  font-size: var(--font-size-lg);
  font-weight: 400;
}

.ctaButton {
  margin-top: var(--spacing-5);
  background: var( --color-gray-light);
  color: var(--color-black);
  border-radius: var(--border-radius);
  width: 16rem;
  padding: 1rem 2rem;
  font-size: var(--font-size-lg);
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.ctaButton:hover {
  background: var(--color-blue-gray);
}