.container {
  margin: var(--horizontal-margin) var(--vertical-margin);
}

.textWrapper {
  max-width: 50rem;
  width: 100%;
  margin-bottom: 2rem;
}

.textWrapper p {
  font-size: var(--font-size-lg);
}

.featuresGrid {
  position: relative;
  margin: auto;
  width: 1200px;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;



}

.featureCard {
  width: 100%;
  max-width: 600px;

  padding: 2rem;
  border-radius: 0.5rem;
  background: #F7F7F7;
  height: 16rem;
  position: relative;
}

.featureIcon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.featureContent  {
  position: relative;
  z-index: 1;
}

.featureContent p {
  font-size: var(--font-size-lg);

}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;

  position: absolute;
  bottom: 30px;
  right: 38px;
}

@media screen and (max-width: 768px) {
  .featuresGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;

  }

  .featureCard {
    max-width: 100%;
    height: auto;
    padding: 1.5rem;
  }
}