/* components/navbar.module.css */
.navbar {
  background-color: var(--color-white);
  padding: 1rem 7rem;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: var(--font-size-md);
  text-decoration: none;
  color: #333;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;

  margin: 0;
  padding: 0;
}

.navLinks a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 500;
}

.navLinks a:hover {
  color: var(--color-blue-400);
}

.dropdown {
  position: relative;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-black);
  font-weight: 500;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 130%;
  left: 0;
  z-index: 4;
  background-color: var(--color-white);
  border: 1px solid #ddd;
  border-radius: .5rem;
  padding: 1rem 0.5rem;
  min-width: 200px;
  list-style: none;
}

.dropdownMenu.open {
  display: block;
}

.dropdownMenu li {
  padding: 0.5rem 1rem;
}

.dropdownMenu a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
}

.dropdownMenu a:hover {
  color: var(--color-blue-400);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .container {
    gap: 1rem;
  }

  .logo a {
    font-size: var(--font-size-sm);
  }

  .menuToggle {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-white);
    border-top: 1px solid #ddd;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    padding: 1rem 2rem;
  }

  .dropdown {
    width: 100%;
  }

  .dropdownToggle {
    width: 100%;
    justify-content: space-between;
  }

  .dropdownMenu {
    position: static;
    width: 100%;
    border: none;
    background-color: transparent;
  }

  .dropdownMenu li {
    padding-left: 2rem;
  }
}

